Thumbs.db
*.obj
*.exe
*.ipch
*.pdb
*.user
*.aps
*.dll
*.pch
*.xml
*.g.i.cs
*.g.cs
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.baml
*.scc
*.VC.*
*.VC.*
*.vssscc
**/packages
**/debug
**/obj
**/sqlite3
**/release
**/DesignTimeBuild

